avltree
!avltree/AVLTree.h

timemeasurement
!timemeasurement/TimeMeasurement.h

singleshottimer
!singleshottimer/SingleShotTimer.h
!singleshottimer/main.cpp
!singleshottimer/Makefile

threadpool
!threadpool/ThreadPool.h
!threadpool/example.cpp
!threadpool/Makefile
